/*aquí va la fuente*/
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

/*configuración general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', sans-serif;

}

.header{
    background-color: rgba(151, 147, 147, 0.342);
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
text-align: center;
}

.conteinerlogo{
    

    
}
    

.navegacion{
    color: aliceblue;    
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center
    
    
}
.listaitem{
    color: black;
    text-decoration: none;
    display:inline-block
    

 
}

.listaancla{
    text-decoration: none;


}

/*termina la maquetación del header*/
/*comienza la maquetación del main*/

.tituloprincipal{
    text-align: center;
    color: rgb(69, 73, 73);
    font-size: 2.5rem;
    padding: 5px;
    margin-bottom: 5;
    
}
.titulosecundariotexto{
    text-align: center;
    color: rgb(69, 73, 73);
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.portada{
    width: 100%;
    margin: 0 auto;
}
.contenedorcards{
    width: 85%;
    margin: 0 auto;
}
.card{
    width: 30%;
    height: 300px;
    background-color: blanchedalmond;
    margin: 10px;
    display:inline-block;
    border border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.card img{
    width: 100%;
height: 80%;
border-radius: 10px 10px 0 0;
object-fit: cover;
}
.tittlecard{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(69, 73, 73)
}
.contenedorvideo{
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;

}
.Tituloparavideo{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(69, 73, 73)
    font-size: 1.5rem;
}
.Parrafovideo{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
/*acá termina el main*/
/*acá arranca el footer*/
.contenedorfooter{
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}
/*termina la maquetación del footer*/
/*probando en preentrega