.header {
    background-color: $color-primario;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    
    .conteinerlogo {
      display: flex;
      justify-content: center;
    }
  
    .colorlink {
      color: rgba(90, 84, 85, 0.897) !important;
    }
    
    .navegacion {
      color: aliceblue;
      font-size: 1.3rem;
      margin-bottom: 20px;
      text-align: center;
      
      .listaitem {
        color: black;
        text-decoration: none;
        display: inline-block;
      }
      
      .listaancla {
        text-decoration: none;
      }
    }
  }

/*

.header{
    background-color: $color-primario;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
text-align: left;
}


.conteinerlogo{
    display: flex;
    justify-content: center;
}

    
  
    .colorlink{
        color: rgba(90, 84, 85, 0.897) !important;
    }
   
.navegacion{
    color: aliceblue;    
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;  
    
}

.listaitem{
    color: black;
    text-decoration: none;
    display:inline-block
}

.listaancla{
    text-decoration: none;
}
*/