.tituloprincipal{
    text-align: center;
    color: $color-tittles;
    font-size: 2.5rem;
    padding: 5px;
    margin-bottom: 5;
    
}
.titulosecundariotexto{
    text-align: map-get($estilos-h2 , text-align );
    color: $color-tittles;
    margin-bottom: map-get($estilos-h2 , margin-bottom);
    font-size: map-get($estilos-h2, font-size );
}
.titulosecundariotextoindex{
    text-align: map-get($estilos-h2 , text-align );
    color: $color-tittles;
    margin-top: 30px;
    margin-bottom: map-get($estilos-h2 , margin-bottom);
    font-size: map-get($estilos-h2, font-size ); 
}
.tituloprincipalgale{
    text-align: center;
    color: $color-tittles;
    font-size: 2.5rem;
    padding: 5px;
    margin-top: 40px;
}

.portada{
    border-radius: 5%;
    transition: transform 0.4s ease-in-out;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    padding: 20px;
    margin-top: 10px;
    
    object-fit: cover;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    
}
.portada:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }

.contenedorcards{
    width: 85%;
    margin: auto;
    

}
.card{
    width: 30%;
    height: 200px;
    transition: transform 0.2s ease-out;
    background-color: blanchedalmond;
    margin: 10px;
    margin-top: 30px;
    display:inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }

.card img{
    width: 100%;
height: 80%;
border-radius: 10px 10px 0px 0px;
object-fit: cover;

}
.tittlecard{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-top: 5px;
    color: $color-tittles
}

    

.video-container{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;

}
.Tituloparavideo{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
    color: $color-tittles
    
}

.imgfondocolindex{
    background-position: center;
    background-size: cover;
    
}
.altoindex{
    min-height: 71vh;
}
.colizquierdaindex{
    height: 100%;
}
.colderechaindex{
    height: 100%;
}
.Parrafovideo {
@include textvideoestilo(center, 20px);  
 }
 
/*acá termina el main*/



/*Maquetado de la página Galeria*/
.carousel-item{
    height: 75vh;
    object-fit: cover;
}

    
    
        
    

    /*Maquetado de la página nosotros*/

.imgfondocol{
    background-position: center;
    background-size: cover;
    
}
.alto{
    min-height: 71vh;
}
.textColorh1{
    color: $color-tittles;
}

.colizquierda{
    height: 100%;
}
.colderecha{
    height: 100%;
}

  

    /*Maquetado de la página contacto*/

.imgcon{
width: 50%;
.btn{
    color: grey !important; 
   
}    
}
.btn:hover{
    background-color: rgb(54, 51, 54) !important;
    
}
/*maquetado pagina PF*/
.centrado{
    display: flex;
    justify-content: center;}
    
    .alto{

        overflow: hidden;


    }

    .card-text{
        width: 100%;
        height: 100%;
    }
    /*aqui va el extend*/
    .Tituloparamapa
{
    margin-top: 10px;
    margin-bottom: 8px;}
    .parrafomapa{
        @extend .Tituloparamapa;
        margin-bottom: 15px;
    }

 

    @media screen and (max-width: 768px){
        .contenedorcards{
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;
        }
        
        .card{
            width: 100%;
            height: 250px;
            margin-top: 30px;
            background-color: $color-primario;
            margin: 10px;
            flex-wrap: wrap;
        }
        .tittlecard{
            text-align: center;
        font-size: 1.8rem;
        margin-bottom: 60px;
        margin-top: 5px;
        color: rgb(69, 73, 73)
        }
       
        
        .card img{
            width: 100%;
        height: 80%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;}
        
        .imagNos{
            width: 100%;
           }
        .ImagCon{
            width: 100%;
        height: 80%
        }
    
    .carousel-item{
        height: 100%}

        .Parrafovideo{
            margin-bottom: 30px;
            font-size: 1rem;
           }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            margin-top: 29px;
            overflow: hidden;
          }
          
          .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          

          .imgfondocolindex .iframm {
            width: 100%;
            height: 100%;
            padding-bottom: 56.25%;
            margin: 20px 0;
          }
          .imgfondocolindex .iframm{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
         
       
       
    }
    